<h2 class="title">Dalog challenge</h2>

<div class="dashboard-container">
  <mat-card class="card">
    <mat-card-title>Level 1 - Project</mat-card-title>
    <mat-card-content>
      <p>You can list and save new project here.</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/projects']" mat-button>Go</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Level 2 - Charts</mat-card-title>
    <mat-card-content>
      <p>You can see charts here.</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/chart']" mat-button>Go</a>
    </mat-card-actions>
  </mat-card>
</div>