<app-nav></app-nav>
<div class="chart-container">
  <mat-spinner *ngIf="dataInactive" class="spinnerContainer"></mat-spinner>

    <h2 *ngIf="!dataInactive">DataPoints for Dalog <a class="btn btn-secondary" [routerLink]="['/dashboard']" mat-button>Back</a></h2>
    <ngx-charts-area-chart-stacked *ngIf="!dataInactive" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis" [yAxis]="yAxis" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="chartDataFront"
      (select)="onSelect($event)">
    </ngx-charts-area-chart-stacked>
  </div>
