.chart-container {
  width: 100%;
  margin: auto;
  height: 600px;
  text-align: center;
  padding: 50px 20px 20px 20px;
}

.subtitles {
  font-weight: 100;
}

.btn-secondary{
  float: right;
}

.spinnerContainer {
  margin: auto !important;
  margin-top: 120px !important;
}