.login-form {
    margin: auto;
    margin-top: 200px;
}

.form-control {
    margin: 10px;
    width: 98%;
}

.btn-action-container {
    display: flex;
    justify-content: flex-end;
}

.login-title {
    text-align: center;
}

.errorSpan {
    color: red;
    text-align: center;
}

.login-acces-container {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}

.login-span-text {
    margin: 0;
    padding: 0;
}

.lg-container{
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .login-form {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .login-form {
        width: 90%;
    }
}